{% extends 'products/base.html' %}

{% block title %} My info {% endblock %}

{% block content %}
<div class="container">
 <table>
     <tr>
         <td>
             <img src="/media/media/product_images/Baby-Yoda-PNG-Image.png" alt="" width="200px"
        style="margin-left: 0%">
         </td>
         <td><h1>Hello, {{ user.username }}!</h1></td>
     </tr>
      {% if not user.is_superuser %}
     <tr>
         <td><h2>On Your Count:</h2> {{ user.wallet }} $</td>
     </tr>
      {% endif %}
     <tr>
         <td><h2>Your Email: </h2>{{ user.email }}</td>
     </tr>
 </table>
    {% if confirm_form %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="confirm">
            <p>Confirm your email</p>
            {{ confirm_form }}
            <button>Confirm</button>
        </form>
    {% endif %}

</div>
<h1 align="center" style="margin-top: 3.5%">May The Force Be With You!</h1>
{% if not user.is_superuser %}
    <h3 align="center">and have a nice shopping</h3>
{% endif %}
{% endblock %}
